mat-card {
    cursor: pointer;
    transition: transform ease-in-out 0.25s;

    &:hover {
        transform: scale(1.05);
        z-index: 1;
    }

    mat-card-subtitle {
        color: white;
        text-align: center;
        margin-bottom: -4px !important;

        .year {
            color: #b9b9b9;
        }
    }
}
