<!--suppress HtmlFormInputWithoutLabel -->
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card>
        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <!-- Temporary -->
                <input matInput formControlName="url" placeholder="Server URL" />
                <mat-error *ngIf="loginForm.get('url').hasError('required')">
                    The server URL is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="username" placeholder="Username" />
                <mat-error *ngIf="loginForm.get('username').hasError('required')">
                    The username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" type="password" />
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    The password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</form>
