:host {
    height: 100%;
    width: 100%;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
}

.mat-card {
    margin: auto;
    min-width: 50vmin;

    mat-card-content {
        display: flex;
        flex-direction: column;
    }

    mat-card-actions {
        display: flex;

        button {
            margin-left: auto;
        }
    }
}
