:host {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 5vmin;

    display: flex;
    flex-direction: column;
}

.tile {
    padding: 0.5rem 0.5rem 1rem;

    a {
        text-decoration: none;
        outline: none;
    }

    &.landscape {
        min-width: 16rem;

        .img-wrapper {
            margin: 0 auto;

            mat-progress-bar {
                margin-top: -5px;
            }
        }

        .inner-img {
            height: 9rem;
        }

        .no-image {
            height: 9rem;
            min-width: 16rem;
            flex-grow: 1;

            display: flex;

            mat-icon {
                margin: auto;
            }
        }
    }

    &.portrait {
        width: 9rem;
        min-width: 9rem;
    }
}

mat-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2rem);

    //noinspection CssOverwrittenProperties
    mat-card-subtitle {
        color: white;
        text-align: center;
        margin-top: 16px;
        margin-bottom: -4px !important;
        overflow-wrap: break-word;
        //noinspection CssInvalidPropertyValue
        overflow-wrap: anywhere;
        hyphens: auto;

        .year {
            color: #b9b9b9;
        }
    }

    .inner-img {
        margin-bottom: auto;
        user-select: none;
        width: 100%;
    }

    .mat-card-image {
        margin-bottom: 0;
        flex-grow: 1;
        display: flex;
    }
}

mat-spinner {
    margin: auto;
}

.details-heading {
    display: flex;

    & > a {
        color: currentColor;
        text-decoration: none;
        margin-right: auto;
        outline: none;

        & > .arrow {
            transition: margin-left 0.25s ease-out;
        }

        &:hover {
            & > .heading {
                text-decoration: underline;
                text-decoration-width: 0.1em;
                text-decoration-thickness: 0.1em;
            }

            & > .arrow {
                margin-left: 0.5em;
            }
        }
    }
}
