.wrapper {
    position: relative;
}

.slider {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    & > ::ng-deep * {
        scroll-snap-align: start;
    }

    .start {
        min-width: 1px;
    }

    .end {
        min-width: 1px;
        scroll-snap-align: end;
    }
}

.scroll-fab {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: auto;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;

    &.left {
        left: 10px;
    }

    &.right {
        right: 10px;
    }
}

.wrapper:hover .scroll-fab {
    opacity: 1;

    &[disabled] {
        opacity: 0;
        pointer-events: none;
    }
}
