mat-sidenav-container,
mat-sidenav-content {
    height: 100%;
    width: 100%;
}

@media (min-width: 30rem) {
    mat-sidenav {
        min-width: 20rem;
    }
}

mat-toolbar {
    position: fixed;
    z-index: 100;
    display: grid;
    grid-template: "left center right" 100% / 1fr 1fr 1fr;

    .left {
        grid-area: left;
        display: flex;

        & > * {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .center {
        display: flex;
        grid-area: center;
        height: 100%;
    }

    a {
        color: inherit;
        text-decoration: none;
        outline: none;
    }

    .brand {
        height: 80%;
        margin: auto;
        transition: transform 0.25s ease-out;

        img {
            height: 100%;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}

main {
    box-sizing: border-box;
    padding-top: 64px;
    height: 100%;
    width: 100%
}
